# Lab 1

this is my first lab

In [7]:
import pandas as pd

covid_data = pd.read_csv('s3://ia340-2025-fall-mt-4427/data.csv') #load data from the s3 csv

covid_data.head() #show the top 5 rows

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2019,continentExp,Cumulative_number_for_14_days_of_COVID-19_cases_per_100000
0,14/12/2020,14,12,2020,746,6,Afghanistan,AF,AFG,38041757.0,Asia,9.013779
1,13/12/2020,13,12,2020,298,9,Afghanistan,AF,AFG,38041757.0,Asia,7.052776
2,12/12/2020,12,12,2020,113,11,Afghanistan,AF,AFG,38041757.0,Asia,6.868768
3,11/12/2020,11,12,2020,63,10,Afghanistan,AF,AFG,38041757.0,Asia,7.134266
4,10/12/2020,10,12,2020,202,16,Afghanistan,AF,AFG,38041757.0,Asia,6.968658

In [9]:
mining_data = pd.read_csv('s3://ia340-2025-fall-mt-4427/BLM_Natl_MLRS_Mining_Claims_-_Not_Closed.csv') #load other dataset

mining_data.head()

,OBJECTID,ID,CSE_NAME,STAGE_ID,BLM_PROD,CSE_TYPE_NR,CSE_NR,LEG_CSE_NR,SF_ID,CSE_DISP,SRC,QLTY,CSE_META,RCRD_ACRS,Created,Modified,Shape_Length,Shape_Area
0,1,803391412212129792,WR 195,8.033913e+17,Lode Claim,384101,NV105216280,NaN,a02t0000006LcZyAAK,Active,LLD,8: \n18 sections retrieved\n240 intersected fe...,NV 21 0450N 0700E 032 A NWNE|NV 21 0450N 0700E...,20.66,2021/01/25 00:00:00+00,2024/10/07 08:57:14+00,0.062666,0.000175
1,2,803392270358429696,WR 196,8.033922e+17,Lode Claim,384101,NV105216281,NaN,a02t0000006LcZzAAK,Active,LLD,0: \n18 sections retrieved\n240 intersected fe...,NV 21 0450N 0700E 032 A NWNE|NV 21 0450N 0700E...,20.66,2021/01/25 00:00:00+00,2024/10/07 08:57:14+00,0.033846,0.000070
2,3,803393529421299712,WR 198,8.033934e+17,Lode Claim,384101,NV105216283,NaN,a02t0000006Lca1AAC,Active,LLD,0: \n18 sections retrieved\n240 intersected fe...,NV 21 0450N 0700E 032 A SESE|NV 21 0450N 0700E...,20.66,2021/01/25 00:00:00+00,2024/10/07 08:57:14+00,0.048314,0.000140
3,4,803394369225912320,WR 199,8.033942e+17,Lode Claim,384101,NV105216284,NaN,a02t0000006Lca2AAC,Active,LLD,8: \n18 sections retrieved\n240 intersected fe...,NV 21 0450N 0700E 032 A SESE|NV 21 0450N 0700E...,20.66,2021/01/25 00:00:00+00,2024/10/07 08:57:14+00,0.062669,0.000245
4,5,803394873595121664,WR 200,8.033947e+17,Lode Claim,384101,NV105216457,NaN,a02t0000006Lca3AAC,Active,LLD,0: \n18 sections retrieved\n240 intersected fe...,NV 21 0450N 0700E 032 A SESE|NV 21 0450N 0700E...,20.66,2021/01/25 00:00:00+00,2024/10/07 08:57:14+00,0.033843,0.000070